<section class="listContainer">
  <h1>Todo List</h1>

  <div class="listContainer__listAdd">
    <input type="text" [formControl]="addControl" />
    <button 
    class="listContainer__btn-add" 
    (click)="addTask()"
    [disabled]="!addControl.value"
    >Add task</button>
  </div>
  
  <div class="listContainer__wrap">
    <div class="listContainer__wrap__pedding">
      <h2>Tarefas Pendentes</h2>
      <ng-container *ngFor="let item of listTodo">
          <app-card 
           *ngIf="item.status === 'pendente'"
           [title]="item.title" 
           [status]="item.status"
           [date]="item.date"
           (onClick)="onTaskDone(item)"
          ></app-card>
      </ng-container>
    </div>
    <div class="listContainer__wrap__done">
      <h2>Tarefas Concluidas</h2>
      <ng-container *ngFor="let list of listConcluida | sort; let i = index">
          <app-card 
           [title]="list.title" 
           [status]="list.status"
           [date]="list.date"
          ></app-card>
      </ng-container>
    </div>
  </div>
</section>